body {
	text-align: center;
	background-color: rgb(87, 87, 87);
}

p {
	font-size: 20px;
	color: rgb(238, 253, 255);
	margin-top: 20px;
}

canvas {
	background: rgb(255, 249, 250);
	border-radius: 15px;
}

h1 {
	color: cornsilk;
	margin-top: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}

button {
	background-color: rgb(75, 218, 218);
	padding: 10px;
	border-radius: 10px;
	border-width: 0;
	font-size: 20px;
	color: white;
	margin-bottom: 5px;
}